:root {
    --white: #fff;
    --gray-100: #e5e7eb;
    --gray-300: #9ca3af;
    --gray-400: #64748b;
    --gray-700: #334155;
    --gray-800: #1e293b;
    --gray-900: #121214;
    --orange-500: #ff862fda;
    --orange-300: #ff9d56;
    --red-500: #f75a68;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--orange-500);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray-900);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}